.VendingMachine {
    background-color: lightgray;
    text-align: center;
    font-weight: bold;
  }
  
  .VendingMachine a {
    padding: 0.5em 0;
    width: 10em;
    display: inline-block;
    color: black;
    text-decoration: none;
  }
  
  .VendingMachine a:hover {
    background-color: black;
    color: red !important;
  }
  
  .VendingMachine a.active {
    font-weight: bold;
    color: red;
  }
  